* {
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container-fluid {
  background: url("./background2.jpg");
  background-size: cover;
}

.jumbotron {
  background: url("/images/background.jpeg");
  background-size: cover;
}